<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClientDependency" version="1.2" />
  <package id="Tocsoft.Common.Helpers" version="1.0.4553.25328" />
  <package id="Tocsoft.Common.Helpers.Web" version="1.0.4553.25328" />
  <package id="Umbraco4.Framework" version="4.7.1.10" />
</packages>